# Auth tokens for getting data about mods
GITHUB_TOKEN=
MODRINTH_TOKEN=

# Set editor here to be able to open files directly from the dev website
REACT_EDITOR=

# Change this to add local ip to devOrigins (e.g. 192.168.1.1)
HOSTNAME=

# Set Google Analytics Measurement ID here if using GA (e.g. G-UW192IWJE9)
NEXT_PUBLIC_GA_ID=