# Auth tokens for getting data about mods
GITHUB_TOKEN=
MODRINTH_TOKEN=

# Set editor here to be able to open files directly from the dev website
REACT_EDITOR=

# Change this to add local ip to devOrigins
LOCAL_IP=192.168.1.###
